/* Write your code here. */
#root {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 32px;
  color: #0f172a;
  text-align: center;
}

.container {
  height: 500px;
  width: 500px;
  background-color: #cffafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-container {
  display: block;
}
.image {
  width: 250px;
  border-radius: 50px;
}
.name,
.college {
  color: #1e293b;
}
.name {
  font-size: 26px;
}
.college {
  font-size: 20px;
}
